<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
    <title>Sneakers Index</title>
    <style>
      a{
        font-family: 'Shadows Into Light', cursive;
        text-decoration: none;
        font-weight:lighter;
        
      }
      
      #login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

#login img {
  height: 30px;
}
    </style>
</head>
<body style="background-color:steelblue;">
  <div class="container-xl">
    <nav class="navbar navbar-expand-lg navbar-light "style="background-color: lightgrey; font-family: 'Shadows Into Light', cursive;">
      <div class="container-fluid"  style=" background-color: lightgrey;">
        <img style="height:50px; width: 60px;" src="https://i.imgur.com/WT1FHW5.png">
        <a class="btn btn-outline-primary" href="/">Most Popular</a>
        <a class="btn btn-outline-primary" href="/sneakers/brands/nike">NIKE</a>
        <a class="btn btn-outline-primary" href="/sneakers/brands/jordan">JORDAN</a>
        <a class="btn btn-outline-primary" href="/sneakers/brands/adidas">ADIDAS</a>
        <a class="btn btn-outline-primary" href="/sneakers/brands/yeezy">YEEZY</a>
        <a class="btn btn-outline-primary" href="/collections">My Collection</a>
        <% if (user) { %>
            <a class="btn btn-outline-primary" href="/logout">Log Out</a>
          <% } else { %>
            <a class="btn btn-outline-primary" href="/auth/google" id="login">Log In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
          <% } %>
        </div>
    </nav>
  

  
    <main>
        
    
