<%- include('../partials/header') %>


<% owned.sneakers.forEach(function(o){ %>
<ul class="list-group list-group-flush">
    <li class="list-group-item"><%= o.shoeName %></li>
  </ul>
  <% }) %>

  <br><br>

  <% watchlist.sneakers.forEach(function(w){ %>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= w.brand %></li>
      </ul>
      <% }) %>


<%- include('../partials/footer') %>